submagicvideo.json
{
  "name": "Stage 4 - Video Editing + B-Roll Overlay (Submagic)",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎬 STAGE 4: VIDEO EDITING + B-ROLL OVERLAY (SUBMAGIC)\n\n✅ Uploader written via shell heredoc (bypasses n8n 2.8+ sandbox)\n✅ Downloads via wget (no curl needed)\n✅ Safe URL handling for presigned S3 / Frame.io / HeyGen URLs",
        "height": 280,
        "width": 2800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, -320],
      "typeVersion": 1,
      "id": "sticky-stage4-overview",
      "name": "STAGE 4 Overview"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "heygen_url", "value": "https://files2.heygen.ai/aws_pacific/avatar_tmp/5d758f248f0244949f9fd8685900a4dd/ec2693a649ce478bace3b63386a35e46.mp4?Expires=1772401781&Signature=YkQOH2AvMiqObk7-gm0S~NJK-~nnSogAnxZds6B6S5YTR14L6DehsRvlDWYMyouFLUqnTS3DmCVd3OrmxSUIIVChV3VAKbvUU~weLGJ3aLsRNkD6W13uqLZBpiG4pKfzXOFjES8tGbBhkSllmd6w3WfZyPsCX3Dm-bMaFJl8Y66VQlh~f3X-M7ZHm9JXr5~q45k~OkcdsNxUuMFPej5yZDM14yboooTBNPY~oz4VG-YVgLClLl6clfkJPz04HBatmkCIvWtfOvn3~j4uJbg283D0QZ-k871c4ueXi2Xv3~y3GOB7cMAdnOH3659Uxao6fxYIVuPR4hORAXWrOqRzZQ__&Key-Pair-Id=K38HBHX5LX3X2H" },
            { "name": "scene1_url", "value": "https://assets.frame.io/encode/9c8eda9a-38c9-4e31-b269-09474b0c296d/h264_720.mp4?response-content-disposition=attachment%3B+filename%3D%22veo-broll_recGzwTXciZoT9xr8_scene1_15223068389440777909_sample_0.mp4%22%3B+filename%2A%3DUTF-8%27%27veo-broll_recGzwTXciZoT9xr8_scene1_15223068389440777909_sample_0.mp4&response-content-type=video%2Fmp4&x-amz-meta-project_id=15732c4e-224c-4624-a2e4-8c9cbbae8a1a&x-amz-meta-resource_type=asset&x-amz-meta-resource_id=9c8eda9a-38c9-4e31-b269-09474b0c296d&Expires=1771891200&Signature=bU-srG7W4X2G-FioPSHfddwYGpzQORd7d56TyX-l1Ge0c8wVI6f02nLFXgJp9qEgA0cLpCj-T155nXLcUlGlVVx70UZWdM-j9AMffTOo4nQmSATfcS2ETOFtDSWqZHGhYyI0xS~gXBg00wNvVEY3GWd3fcVP9DQIa84a556~-s5-roYOipw3-3pdn7nC5L94tZ6P0Ieepx64njJujZahlJsqhtcr3CwdQyOpAAn-qyUVRVfc5pzk9s6IR2rhUVtmC5lYGdBSZhNnhAspKYSJS6NCyXUOpTsUCnY0cKCqxNzrr~GhZtevJpP5Wpu6DT~eYk1gUHOHTsfJwr2tFJLvLQ__&Key-Pair-Id=K1XW5DOJMY1ET9" },
            { "name": "scene2_url", "value": "https://assets.frame.io/uploads/8cae8a58-4b6b-4b1b-8a5e-e61fe4cc1ec3/original.mp4?response-content-disposition=attachment%3B+filename%3D%22veo-broll_recGzwTXciZoT9xr8_scene2_17202591502580664413_sample_0.mp4%22%3B+filename%2A%3DUTF-8%27%27veo-broll_recGzwTXciZoT9xr8_scene2_17202591502580664413_sample_0.mp4&response-content-type=video%2Fmp4&x-amz-meta-project_id=15732c4e-224c-4624-a2e4-8c9cbbae8a1a&x-amz-meta-resource_type=asset&x-amz-meta-resource_id=8cae8a58-4b6b-4b1b-8a5e-e61fe4cc1ec3&Expires=1771891200&Signature=ZV0ZH1NVZqoBXtTz6CN~eklbE7bW-4zbPfwhwCAc5TZFD8i8xh-2paBp38~APMqLi8uaVgdLyVCOAwnBupdndodYQ3CHZcDB0ytiJ1qRiYCWPVZ5mhLKKpYZ4AjDGH9zihIS753xOGugCXgl9V1A4xxIWv7P7PRSC4gfftwXVQzWZ-AgppbpWZGTn1PLfo6bnfOhZjHXY6Oi6QvGUmensrKQ9s3yS4A1ySxrSjV6spUZI77mRhz18WO1wk2YnhGDP2mHQpBvyxkdw-VO7P-wL18frp6wA6jls9GQX0GlYiwm~ExUmr2WTf~XmJWlVWF4XzC5OgGM64CkhzYWKgs5Sw__&Key-Pair-Id=K1XW5DOJMY1ET9" }
          ],
          "number": [
            { "name": "scene1_duration", "value": 5 },
            { "name": "scene2_duration", "value": 8 }
          ]
        },
        "options": {}
      },
      "id": "manual-url-inputs",
      "name": "Manual URL Inputs (3 Videos + Timing)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\n\nconst errors = [];\nif (!d.heygen_url || d.heygen_url === 'PASTE_HEYGEN_VIDEO_URL_HERE') errors.push('heygen_url not set');\nif (!d.scene1_url || d.scene1_url === 'PASTE_VEO_SCENE1_URL_HERE') errors.push('scene1_url not set');\nif (!d.scene2_url || d.scene2_url === 'PASTE_VEO_SCENE2_URL_HERE') errors.push('scene2_url not set');\nif (errors.length > 0) throw new Error('URL Validation Failed: ' + errors.join(', '));\n\nfunction getGDriveId(url) {\n  const m = url.match(/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)/);\n  return m ? m[1] : null;\n}\n\nfunction tagUrl(url) {\n  const t = url.trim();\n  const gid = getGDriveId(t);\n  if (gid) return { type: 'gdrive', id: gid, url: t };\n  if (t.match(/^https?:\\/\\/f\\.io\\//i) || (t.includes('frame.io') && !t.includes('assets.frame.io'))) {\n    return { type: 'frameio_review', url: t };\n  }\n  return { type: 'direct', url: t };\n}\n\nconst s1Dur = Number(d.scene1_duration) || 5;\nconst s2Dur = Number(d.scene2_duration) || 8;\n\nreturn [{ json: {\n  heygen_url: d.heygen_url.trim(),\n  heygen_url_info: tagUrl(d.heygen_url.trim()),\n  scene1_url_info: tagUrl(d.scene1_url.trim()),\n  scene2_url_info: tagUrl(d.scene2_url.trim()),\n  scene1_url_original: d.scene1_url.trim(),\n  scene2_url_original: d.scene2_url.trim(),\n  scene1_dur: s1Dur,\n  scene2_dur: s2Dur,\n  scene2_start: s1Dur,\n  scene2_end: s1Dur + s2Dur,\n  total_dur: s1Dur + s2Dur,\n  run_id: Date.now()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [440, 200],
      "id": "validate-urls",
      "name": "Validate URLs + Calculate Timing"
    },
    {
      "parameters": {
        "jsCode": "// Pass through data from Validate URLs node\nconst prevData = $('Validate URLs + Calculate Timing').item.json;\n\n// Generate uploader script content\nconst uploaderCode = `const https = require('https');\nconst fs = require('fs');\nconst path = require('path');\nconst filePath = process.argv[2];\nif (!filePath) { console.error('No file path'); process.exit(1); }\nconst filename = path.basename(filePath);\nconst boundary = '----n8nBound' + Date.now();\nconst options = {\n  method: 'POST',\n  hostname: 'tmpfiles.org',\n  path: '/api/v1/upload',\n  headers: { 'Content-Type': 'multipart/form-data; boundary=' + boundary }\n};\nconst req = https.request(options, (res) => {\n  let body = '';\n  res.on('data', chunk => body += chunk);\n  res.on('end', () => {\n    try {\n      const json = JSON.parse(body);\n      if (json.status === 'success' && json.data && json.data.url) {\n        const url = json.data.url.replace('tmpfiles.org/', 'tmpfiles.org/dl/');\n        process.stdout.write(url);\n        process.exit(0);\n      } else {\n        process.stderr.write('Upload failed: ' + body);\n        process.exit(1);\n      }\n    } catch(e) {\n      process.stderr.write('Parse error: ' + body);\n      process.exit(1);\n    }\n  });\n});\nreq.on('error', e => { process.stderr.write(e.message); process.exit(1); });\nconst CRLF = '\\\\r\\\\n';\nreq.write('--' + boundary + CRLF);\nreq.write('Content-Disposition: form-data; name=\"file\"; filename=\"' + filename + '\"' + CRLF);\nreq.write('Content-Type: video/mp4' + CRLF + CRLF);\nfs.createReadStream(filePath).on('end', () => {\n  req.write(CRLF + '--' + boundary + '--' + CRLF);\n  req.end();\n}).pipe(req, { end: false });\n`;\n\n// Base64 encode the script to avoid quoting issues\nconst scriptB64 = Buffer.from(uploaderCode).toString('base64');\n\nconsole.log('✅ Uploader script prepared (base64 encoded)');\nreturn [{ json: { ...prevData, uploader_script_b64: scriptB64 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [820, 200],
      "id": "passthrough-uploader",
      "name": "Passthrough Data"
    },
    {
      "parameters": {
        "command": "={{ `echo '${$json.uploader_script_b64}' | base64 -d > /tmp/uploader_${$json.run_id}.js && echo uploader_written_ok` }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [950, 200],
      "id": "write-uploader-shell",
      "name": "Write Uploader to Disk"
    },
    {
      "parameters": {
        "jsCode": "// Confirm shell script succeeded and return data for next node\nconst prevData = $('Passthrough Data').item.json;\nconst shellOut = $input.item.json;\nif (!shellOut.stdout || !shellOut.stdout.includes('uploader_written_ok')) {\n  throw new Error('Failed to write uploader: ' + (shellOut.stderr || shellOut.stdout || 'unknown error'));\n}\nconsole.log('✅ Uploader script written to /tmp/uploader_' + prevData.run_id + '.js');\nreturn [{ json: prevData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1080, 200],
      "id": "confirm-uploader-written",
      "name": "Confirm Uploader Written"
    },
    {
      "parameters": {
        "jsCode": "// Build the wget download + ffmpeg composite shell command\nconst d = $input.item.json;\nconst rid = d.run_id;\n\nconst heygenFile   = `/tmp/heygen_${rid}.mp4`;\nconst scene1File   = `/tmp/scene1_${rid}.mp4`;\nconst scene2File   = `/tmp/scene2_${rid}.mp4`;\nconst scene1Scaled = `/tmp/scene1_scaled_${rid}.mp4`;\nconst scene2Scaled = `/tmp/scene2_scaled_${rid}.mp4`;\nconst outputFile   = `/tmp/composite_${rid}.mp4`;\nconst uploaderFile = `/tmp/uploader_${rid}.js`;\n\nconst heygenUrlFile = `/tmp/url_heygen_${rid}.txt`;\nconst scene1UrlFile = `/tmp/url_scene1_${rid}.txt`;\nconst scene2UrlFile = `/tmp/url_scene2_${rid}.txt`;\nconst cookieFileH  = `/tmp/cookies_hg_${rid}.txt`;\nconst cookieFile1  = `/tmp/cookies_s1_${rid}.txt`;\nconst cookieFile2  = `/tmp/cookies_s2_${rid}.txt`;\n\nconst ffmpeg = '/home/node/scripts/node_modules/ffmpeg-static/ffmpeg';\nconst s1Dur   = d.scene1_dur;\nconst s2Dur   = d.scene2_dur;\nconst s2Start = d.scene2_start;\nconst s2End   = d.scene2_end;\n\nconst heygenInfo = d.heygen_url_info || { type: 'direct', url: d.heygen_url };\nconst scene1Info = d.scene1_url_info || { type: 'direct', url: d.scene1_url_original };\nconst scene2Info = d.scene2_url_info || { type: 'direct', url: d.scene2_url_original };\n\n// Write URL to file safely (base64 encode URL only - not the script)\nfunction writeUrlCmd(url, file) {\n  const b64 = Buffer.from(url).toString('base64');\n  return `printf '%s' '${b64}' | base64 -d > \"${file}\"`;\n}\n\nfunction buildDl(info, dest, urlFile, cookieFile) {\n  if (info.type === 'gdrive') {\n    const id = info.id;\n    return [\n      `wget -q --save-cookies \"${cookieFile}\" --keep-session-cookies -O /tmp/gcheck_${id}.html \"https://drive.google.com/uc?export=download&id=${id}\"`,\n      `CONFIRM=$(grep -o 'confirm=[^&\"]*' /tmp/gcheck_${id}.html | head -1 | cut -d= -f2 || echo t)`,\n      `wget -q --load-cookies \"${cookieFile}\" --tries=3 -O \"${dest}\" \"https://drive.google.com/uc?export=download&confirm=$CONFIRM&id=${id}\"`,\n      `rm -f /tmp/gcheck_${id}.html \"${cookieFile}\"`\n    ].join(' && ');\n  }\n  if (info.type === 'frameio_review') {\n    return `echo \"ERROR: Use assets.frame.io download link, not f.io review link\" >&2 && exit 1`;\n  }\n  // direct - safe via url file\n  return `${writeUrlCmd(info.url, urlFile)} && wget -q --tries=3 --timeout=300 --user-agent=\"Mozilla/5.0\" -O \"${dest}\" \"$(cat \\\"${urlFile}\\\")\" && rm -f \"${urlFile}\"`;\n}\n\nconst dlH = buildDl(heygenInfo, heygenFile, heygenUrlFile, cookieFileH);\nconst dl1 = buildDl(scene1Info, scene1File, scene1UrlFile, cookieFile1);\nconst dl2 = buildDl(scene2Info, scene2File, scene2UrlFile, cookieFile2);\n\nconst needsSeq = [heygenInfo.type, scene1Info.type, scene2Info.type].some(t => t === 'gdrive');\nconst dlBlock = needsSeq\n  ? `(${dlH}) && (${dl1}) && (${dl2})`\n  : `(${dlH}) & (${dl1}) & (${dl2}) & wait`;\n\nconst validate = `for f in \"${heygenFile}\" \"${scene1File}\" \"${scene2File}\"; do\n  SIZE=$(stat -c%s \"$f\" 2>/dev/null || echo 0)\n  if [ \"$SIZE\" -lt 102400 ]; then\n    echo \"DOWNLOAD FAILED: $f = $SIZE bytes\" >&2\n    head -c 200 \"$f\" >&2\n    exit 1\n  fi\ndone`;\n\nconst scale1 = `${ffmpeg} -i \"${scene1File}\" -vf \"scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920\" -an -c:v libx264 -crf 23 -preset ultrafast -y \"${scene1Scaled}\" 2>&1`;\nconst scale2 = `${ffmpeg} -i \"${scene2File}\" -vf \"scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920\" -an -c:v libx264 -crf 23 -preset ultrafast -y \"${scene2Scaled}\" 2>&1`;\n\nconst composite = `${ffmpeg} -i \"${heygenFile}\" -stream_loop -1 -i \"${scene1Scaled}\" -stream_loop -1 -i \"${scene2Scaled}\" -filter_complex \"[1:v]setpts=PTS-STARTPTS[s1];[2:v]setpts=PTS-STARTPTS[s2];[0:v][s1]overlay=0:0:enable='between(t,1,${1 + s1Dur})'[v1];[v1][s2]overlay=0:0:enable='between(t,${1 + s1Dur + 2},${1 + s1Dur + 2 + s2Dur})'[v2];[v2]scale=1296:2304,crop=1080:1920[vout]\" -map \"[vout]\" -map 0:a -c:v libx264 -crf 22 -preset ultrafast -c:a aac -b:a 192k -shortest -y \"${outputFile}\" 2>&1`;\n\nconst upload = `node \"${uploaderFile}\" \"${outputFile}\"`;\n\nconst cleanup = `rm -f \"${heygenFile}\" \"${scene1File}\" \"${scene2File}\" \"${scene1Scaled}\" \"${scene2Scaled}\" \"${outputFile}\" \"${uploaderFile}\" \"${heygenUrlFile}\" \"${scene1UrlFile}\" \"${scene2UrlFile}\" \"${cookieFileH}\" \"${cookieFile1}\" \"${cookieFile2}\"`;\n\nconst fullCommand = [dlBlock, validate, scale1, scale2, composite, upload].join(' && ') + ` ; RET=$? ; ${cleanup} ; exit $RET`;\n\nreturn [{ json: { ...d, ffmpeg_command: fullCommand } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [920, 200],
      "id": "build-ffmpeg-command",
      "name": "Build FFmpeg Command"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_command }}"
      },
      "id": "run-ffmpeg-composite",
      "name": "FFmpeg: Composite HeyGen + 2 B-Rolls",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "jsCode": "const execResult = $input.item.json;\nconst prevData = $('Validate URLs + Calculate Timing').item.json;\n\nconst stdout = (execResult.stdout || '').trim();\nconst stderr = (execResult.stderr || '').trim();\n\nconst lines = stdout.split('\\n').map(l => l.trim()).filter(Boolean);\nconst urlLine = lines.slice().reverse().find(l => l.startsWith('http'));\n\nif (!urlLine) {\n  throw new Error(\n    'No URL in stdout.\\nSTDOUT: ' + stdout.substring(0, 500) +\n    '\\nSTDERR (last 1000): ' + stderr.slice(-1000)\n  );\n}\n\nconsole.log('✅ Composite URL:', urlLine);\nreturn [{ json: { ...prevData, composite_url: urlLine, composite_ready: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1400, 200],
      "id": "extract-composite-url",
      "name": "Extract Composite URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.submagic.co/v1/projects",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.SUBMAGIC_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"title\": \"BRoll Composite - \" + $json.run_id,\n  \"language\": \"en\",\n  \"videoUrl\": $json.composite_url,\n  \"templateName\": \"Hormozi 2\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1620, 200],
      "id": "submagic-submit",
      "name": "Submagic: Submit Composite Video"
    },
    {
      "parameters": {
        "jsCode": "const submagicResponse = $input.item.json;\nconst prevData = $('Extract Composite URL').item.json;\nconst projectId = submagicResponse.id || submagicResponse.project_id || submagicResponse.projectId;\nif (!projectId) throw new Error('Submagic no project ID: ' + JSON.stringify(submagicResponse).substring(0, 400));\nconsole.log('✅ Submagic Project ID:', projectId);\nreturn [{ json: { ...prevData, submagic_project_id: projectId, submagic_submitted_at: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1840, 200],
      "id": "store-submagic-id",
      "name": "Store Submagic Project ID"
    },
    {
      "parameters": { "amount": 5, "unit": "minutes" },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2060, 200],
      "id": "wait-submagic-initial",
      "name": "Wait 5 min (Submagic processes)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.submagic.co/v1/projects/{{ $json.submagic_project_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.SUBMAGIC_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2280, 200],
      "id": "poll-submagic",
      "name": "Poll Submagic Status"
    },
    {
      "parameters": {
        "jsCode": "const pollResult = $input.item.json;\nconst prevData = $('Store Submagic Project ID').item.json;\nconst status = (pollResult.status || '').toLowerCase();\nconst videoUrl = pollResult.video_url || pollResult.videoUrl || pollResult.output_url || '';\nconst isDone = status === 'completed' || status === 'done' || status === 'finished' || videoUrl !== '';\nconsole.log(`Submagic status: ${status} | url: ${videoUrl || 'not ready'} | done: ${isDone}`);\nreturn [{ json: { ...prevData, submagic_status: status, submagic_video_url: videoUrl, submagic_done: isDone, poll_response: pollResult } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2500, 200],
      "id": "check-submagic-done",
      "name": "Check Submagic Done?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "submagic-complete",
              "leftValue": "={{ $json.submagic_done }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2720, 200],
      "id": "is-submagic-complete",
      "name": "Is Submagic Complete?"
    },
    {
      "parameters": { "amount": 2, "unit": "minutes" },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2720, 420],
      "id": "wait-submagic-retry",
      "name": "Wait 2 min (retry)"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst finalUrl = d.submagic_video_url;\nif (!finalUrl) throw new Error('Submagic done but no video_url: ' + JSON.stringify(d.poll_response).substring(0, 400));\nconsole.log('✅ FINAL VIDEO:', finalUrl);\nreturn [{ json: { ...d, final_video_url: finalUrl, composite_video_url: d.composite_url, completed_at: new Date().toISOString(), summary: { final_url: finalUrl, heygen_url: d.heygen_url, scene1_url: d.scene1_url_original, scene1_duration: d.scene1_dur, scene2_url: d.scene2_url_original, scene2_duration: d.scene2_dur, total_duration: d.total_dur } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2940, 200],
      "id": "build-final-output",
      "name": "Build Final Output Summary"
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "value": "={{ $env.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Video RENDERS", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ 'Render - ' + $json.run_id }}",
            "Final_Video_URL": "={{ $json.final_video_url }}",
            "Composite_URL": "={{ $json.composite_video_url }}",
            "HeyGen_URL": "={{ $json.heygen_url }}",
            "Scene1_URL": "={{ $json.summary.scene1_url }}",
            "Scene1_Duration": "={{ $json.scene1_dur }}",
            "Scene2_URL": "={{ $json.summary.scene2_url }}",
            "Scene2_Duration": "={{ $json.scene2_dur }}",
            "Total_Duration": "={{ $json.total_dur }}",
            "Submagic_Project_ID": "={{ $json.submagic_project_id }}",
            "Render_Status": "Ready to Publish",
            "Created_Date": "={{ $now.format('yyyy-MM-dd') }}"
          }
        },
        "options": { "typecast": true }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [3160, 200],
      "id": "store-video-renders",
      "name": "Store in Video RENDERS Table"
    },
    {
      "parameters": {
        "content": "## ✅ N8N 2.8+ SANDBOX FIX\n\n**Issue:** n8n 2.8+ Code nodes run in sandboxed\ntask runner that blocks fs, path, and other\nNode.js built-ins for security.\n\n**Fix:** Write uploader.js via base64 encoding:\n1. Code node: Generate uploader JS → base64\n2. Shell: echo base64 | base64 -d > file\n3. Shell bypasses sandbox entirely\n\n**Pipeline:**\n1. Validate URLs (Code node)\n2. Generate uploader + base64 encode (Code)\n3. Decode + write to disk (Execute Command)\n4. Confirm written (Code node)\n5. Build FFmpeg command\n6. Execute FFmpeg composite",
        "height": 440,
        "width": 660,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [680, 450],
      "typeVersion": 1,
      "id": "sticky-fixes",
      "name": "Root Cause Fixed"
    },
    {
      "parameters": {
        "content": "## ⚙️ ENV VARIABLES\n```\nSUBMAGIC_API_KEY\nAIRTABLE_BASE_ID\n```\n\n## 📋 AIRTABLE FIELDS\n```\nName (Text)\nFinal_Video_URL (URL)\nComposite_URL (URL)\nHeyGen_URL (URL)\nScene1_URL (URL)\nScene1_Duration (Number)\nScene2_URL (URL)\nScene2_Duration (Number)\nTotal_Duration (Number)\nSubmagic_Project_ID (Text)\nRender_Status (Single select)\nCreated_Date (Date)\n```\n\n## 🔗 FRAME.IO URL\nUse assets.frame.io download link\nNOT the f.io share/review link.",
        "height": 460,
        "width": 580,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 450],
      "typeVersion": 1,
      "id": "sticky-setup",
      "name": "Setup Notes"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual URL Inputs (3 Videos + Timing)": {
      "main": [[{ "node": "Validate URLs + Calculate Timing", "type": "main", "index": 0 }]]
    },
    "Validate URLs + Calculate Timing": {
      "main": [[{ "node": "Passthrough Data", "type": "main", "index": 0 }]]
    },
    "Passthrough Data": {
      "main": [[{ "node": "Write Uploader to Disk", "type": "main", "index": 0 }]]
    },
    "Write Uploader to Disk": {
      "main": [[{ "node": "Confirm Uploader Written", "type": "main", "index": 0 }]]
    },
    "Confirm Uploader Written": {
      "main": [[{ "node": "Build FFmpeg Command", "type": "main", "index": 0 }]]
    },
    "Build FFmpeg Command": {
      "main": [[{ "node": "FFmpeg: Composite HeyGen + 2 B-Rolls", "type": "main", "index": 0 }]]
    },
    "FFmpeg: Composite HeyGen + 2 B-Rolls": {
      "main": [[{ "node": "Extract Composite URL", "type": "main", "index": 0 }]]
    },
    "Extract Composite URL": {
      "main": [[{ "node": "Submagic: Submit Composite Video", "type": "main", "index": 0 }]]
    },
    "Submagic: Submit Composite Video": {
      "main": [[{ "node": "Store Submagic Project ID", "type": "main", "index": 0 }]]
    },
    "Store Submagic Project ID": {
      "main": [[{ "node": "Wait 5 min (Submagic processes)", "type": "main", "index": 0 }]]
    },
    "Wait 5 min (Submagic processes)": {
      "main": [[{ "node": "Poll Submagic Status", "type": "main", "index": 0 }]]
    },
    "Poll Submagic Status": {
      "main": [[{ "node": "Check Submagic Done?", "type": "main", "index": 0 }]]
    },
    "Check Submagic Done?": {
      "main": [[{ "node": "Is Submagic Complete?", "type": "main", "index": 0 }]]
    },
    "Is Submagic Complete?": {
      "main": [
        [{ "node": "Build Final Output Summary", "type": "main", "index": 0 }],
        [{ "node": "Wait 2 min (retry)", "type": "main", "index": 0 }]
      ]
    },
    "Wait 2 min (retry)": {
      "main": [[{ "node": "Poll Submagic Status", "type": "main", "index": 0 }]]
    },
    "Build Final Output Summary": {
      "main": [[{ "node": "Store in Video RENDERS Table", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [],
  "id": "Submagic-Edit-d3c46a0d"
}