workflow_backup.json
{
  "name": "Stage 1 Content Discovery - FULLY FIXED",
  "nodes": [
    {
      "parameters": {},
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "node-2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const subreddits = [\n  'Artificial',\n  'ArtificialInteligence',\n  'OpenAI',\n  'MachineLearning',\n  'singularity'\n];\n\nconst startUrls = [];\nfor (const sub of subreddits) {\n  startUrls.push({ url: `https://www.reddit.com/r/${sub}/top.json?t=day&limit=10` });\n}\n\nreturn [{ json: { startUrls } }];"
      },
      "id": "node-3",
      "name": "Generate Reddit URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/trudax~reddit-scraper-lite/runs?token={{ $env.APIFY_API_TOKEN }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ startUrls: $json.startUrls, maxItems: 50, skipComments: true, maxComments: 0, maxCommunitiesCount: 5, maxPostCount: 10, proxy: { useApifyProxy: true } }) }}",
        "options": {}
      },
      "id": "node-4",
      "name": "Start Reddit Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "node-wait-reddit",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        864,
        400
      ],
      "webhookId": "f4f02128-d98c-4da9-b432-3d8a51379b3f"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $node[\"Start Reddit Scraper\"].json.data.id }}?token={{ $env.APIFY_API_TOKEN }}",
        "options": {}
      },
      "id": "node-check-status-reddit",
      "name": "Check Scraper Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "value2": "SUCCEEDED"
            }
          ]
        }
      },
      "id": "node-is-finished-reddit",
      "name": "Is Scraper Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1216,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $node[\"Check Scraper Status\"].json.data.defaultDatasetId }}/items?token={{ $env.APIFY_API_TOKEN }}",
        "options": {}
      },
      "id": "node-fetch-results-reddit",
      "name": "Fetch Scraper Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1408,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Only filter by dataType=post \u2014 pass everything else through\nconst items = $input.all();\nconst processed = [];\nconst seenIds = new Set();\n\nfor (const item of items) {\n  let data = item.json || {};\n  const records = Array.isArray(data) ? data : [data];\n\n  for (const post of records) {\n    if (!post) continue;\n    if (post.dataType !== 'post') continue;\n\n    const postId = post.id || post.postId || '';\n    if (seenIds.has(postId)) continue;\n    seenIds.add(postId);\n\n    const title = post.title || '';\n    const body = post.body || post.selftext || '';\n    const content = title + (body ? '\\n\\n' + body : '');\n    const upvotes = post.upVotes || post.ups || post.score || 0;\n    const comments = post.numberOfComments || post.num_comments || post.commentsCount || 0;\n    const category = post.category || post.communityName?.replace('r/', '') || 'tech';\n    const isLinkPost = post.url && !post.url.includes('reddit.com') && !post.url.includes('redd.it');\n    const redditThreadUrl = post.permalink\n      ? (post.permalink.startsWith('http') ? post.permalink : 'https://reddit.com' + post.permalink)\n      : (post.url || `https://reddit.com/r/${category}`);\n    const externalUrl = isLinkPost ? post.url : redditThreadUrl;\n\n    processed.push({\n      json: {\n        post_id: postId,\n        platform: 'Reddit',\n        title: title,\n        content: content.substring(0, 1500),\n        body: body.substring(0, 800),\n        url: redditThreadUrl,\n        external_url: externalUrl,\n        is_news_link: isLinkPost || false,\n        domain: post.domain || 'reddit.com',\n        likes: upvotes,\n        comments: comments,\n        views: upvotes + comments,\n        engagement_score: upvotes + (comments * 2),\n        engagement_rate: ((upvotes / Math.max(upvotes + comments, 1)) * 100).toFixed(2),\n        category: category,\n        community_name: post.communityName || 'Reddit',\n        author: post.username || post.author || 'anon',\n        created_at: post.createdAt || post.created_utc || new Date().toISOString(),\n        data_type: post.dataType\n      }\n    });\n  }\n}\n\nconsole.log(`\u2705 Found ${processed.length} posts (dataType=post only)`);\nreturn processed.length > 0 ? processed : [{ json: { _skip: true, platform: 'Reddit', reason: 'No posts found' } }];"
      },
      "id": "node-5",
      "name": "Parse Reddit Posts (News Only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "jsCode": "// Pass through ALL items \u2014 no filtering\nreturn $input.all();"
      },
      "id": "node-6",
      "name": "Remove Empty Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze this Reddit post for viral potential and AI/ML/Tech relevance.\n\nTitle: {{ $json.title }}\nSubreddit: {{ $json.category }}\nUpvotes: {{ $json.likes }}\nComments: {{ $json.comments }}\nDomain: {{ $json.domain }}\nBody: {{ $json.body }}\n\nReturn ONLY a valid JSON object (no markdown, no backticks, no explanation) with these exact fields:\n{\"Viral_Score\": 0-100, \"Hook_Pattern\": \"pattern type\", \"Content_Structure\": \"breaking news or research paper or product launch or opinion or tutorial or controversy\", \"Emotional_Triggers\": \"emotions driving engagement\", \"Viral_Elements\": \"what makes it spread\", \"Script_Framework\": \"framework used\", \"is_ai_ml_tech\": true or false, \"news_relevance\": 0-100}",
        "batching": {
          "batchSize": 1
        }
      },
      "id": "node-7",
      "name": "Gemini Analyze News Post",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-8",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        560
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vbhLIH8I52VXHFtc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Airtable-ready output: original post data + Gemini analysis\n// Get original items from the Remove Empty Items node\nlet originals = [];\ntry { originals = $items('Remove Empty Items'); } catch(e) { originals = []; }\nconst geminiItems = $input.all();\nconst output = [];\n\nfor (let i = 0; i < geminiItems.length; i++) {\n  const gemini = geminiItems[i].json || {};\n  const orig = originals[i]?.json || {};\n\n  // Parse Gemini text response into JSON\n  const rawText = gemini.text || gemini.output || '{}';\n  let ai = {};\n  try {\n    ai = JSON.parse(rawText);\n  } catch (e) {\n    const match = rawText.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { ai = JSON.parse(match[0]); } catch (e2) {}\n    }\n  }\n\n  const s = (v) => (v === undefined || v === null) ? '' : (typeof v === 'object' ? JSON.stringify(v) : String(v));\n  const title = orig.title || '';\n  const body = orig.body || '';\n\n  // Output fields matching Airtable Viral Content DB schema exactly\n  output.push({\n    json: {\n      Name: title.substring(0, 100),\n      Post_ID: orig.post_id || '',\n      Platform: orig.platform || 'Reddit',\n      Post_URL: orig.url || '',\n      Content: title + (body ? '\\n\\n' + body : ''),\n      Engagement_Score: orig.engagement_score || 0,\n      Likes_Reactions_Upvotes: orig.likes || 0,\n      Comments: orig.comments || 0,\n      Shares_Awards: 0,\n      Viral_Score: parseInt(ai.Viral_Score || ai.viral_score) || 0,\n      Hook_Pattern: s(ai.Hook_Pattern || ai.hook_pattern || ''),\n      Content_Structure: s(ai.Content_Structure || ai.content_structure || ''),\n      Emotional_Triggers: s(ai.Emotional_Triggers || ai.emotional_triggers || ''),\n      Viral_Elements: s(ai.Viral_Elements || ai.viral_elements || ''),\n      Script_Framework: s(ai.Script_Framework || ai.script_framework || ''),\n      Status: 'Generate Script',\n      Created_Date: new Date().toISOString().split('T')[0],\n      Script_Library: '',\n      Engagement_Rate: orig.engagement_rate || '0',\n      Followers: 0,\n      Saves: 0,\n      Shares: 0,\n      Impressions: orig.views || 0,\n      Clicks: 0,\n      Views: orig.views || 0,\n      Transcript: '',\n      // Keep these for the filter node\n      is_ai_ml_tech: ai.is_ai_ml_tech !== false,\n      news_relevance: parseInt(ai.news_relevance) || 0\n    }\n  });\n}\n\nconsole.log('Merged ' + output.length + ' posts with Gemini analysis for Airtable');\nreturn output.length > 0 ? output : [{ json: { _skip: true } }];"
      },
      "id": "node-9",
      "name": "Parse Gemini Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through posts that are AI/ML/Tech relevant\nreturn $input.all().filter(item => {\n  const d = item.json;\n  if (d._skip) return false;\n  return d.is_ai_ml_tech === true || d.news_relevance >= 50 || d.Viral_Score >= 30;\n});"
      },
      "id": "node-filter-relevant",
      "name": "Filter Relevant News Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AT_TABLE_VIRAL_DB }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post_ID": "={{ $json.Post_ID }}",
            "Platform": "={{ $json.Platform }}",
            "Post_URL": "={{ $json.Post_URL }}",
            "Content": "={{ $json.Content }}",
            "Engagement_Score": "={{ $json.Engagement_Score }}",
            "Likes_Reactions_Upvotes": "={{ $json.Likes_Reactions_Upvotes }}",
            "Comments": "={{ $json.Comments }}",
            "Shares_Awards": "={{ $json.Shares_Awards }}",
            "Viral_Score": "={{ $json.Viral_Score }}",
            "Hook_Pattern": "={{ $json.Hook_Pattern }}",
            "Content_Structure": "={{ $json.Content_Structure }}",
            "Emotional_Triggers": "={{ $json.Emotional_Triggers }}",
            "Viral_Elements ": "={{ $json.Viral_Elements }}",
            "Script_Framework": "={{ $json.Script_Framework }}",
            "Status": "={{ $json.Status }}",
            "Created_Date": "={{ $json.Created_Date }}",
            "Script Library": "",
            "Engagement_Rate": "={{ $json.Engagement_Rate }}",
            "Followers": "=0",
            "Saves": "=0",
            "Shares": "=0",
            "Impressions": "={{ $json.Impressions }}",
            "Clicks": "=0",
            "Views": "={{ $json.Views }}",
            "Transcript": "",
            "Name_review": "={{ $json.Name }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-10",
      "name": "Store in Viral Content DB",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1920,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-s2-trigger",
      "name": "Manual Trigger (Stage 2)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        800
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "node-s2-schedule",
      "name": "Schedule Trigger (Every 6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        928
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AT_TABLE_VIRAL_DB }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "node-s2-read-db",
      "name": "Read Viral Content DB",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        864
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Simply pass through posts with Status = \"Generate Script\"\nconst viralContent = $input.all().map(item => item.json);\n\n// Only process items marked \"Generate Script\"\nconst filtered = viralContent.filter(item => item.Status === \"Generate Script\");\n\nconsole.log('Found ' + filtered.length + ' posts with Status = Generate Script');\n\nif (filtered.length === 0) {\n  return [];\n}\n\nreturn filtered.map((post, i) => ({\n  json: JSON.parse(JSON.stringify(post)),\n  pairedItem: { item: i }\n}));\n"
      },
      "id": "node-s2-filter",
      "name": "Filter Unprocessed Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        864
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Context and Author Profile:\nUjjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\n\nTask:\nRewrite the following news content as an original thought leadership post for Ujjwal's social media channels (primarily LinkedIn).\n\nTone and Voice Guidelines:\n- Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n- Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape\n- Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer\n- Confident and opinionated, but grounded with reasoning or real-world parallels\n- Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n- Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n- The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\n\nStructure and Length (STRICT):\n- Maximum two short paragraphs. No exceptions. Each paragraph should be 2 to 4 sentences.\n- Total word count: 50 to 100 words. Treat this as a hard ceiling.\n- The opening sentence must be a strong, creative hook. Not generic, not clickbait. It should be a sharp, original observation or a surprising reframe that makes people stop scrolling. Think of the kind of opener that makes someone say I never thought of it that way.\n- Close with a perspective, prediction, or question that invites engagement\n- Distill the news down to the single most important insight and build the entire post around that one idea. Cut everything else ruthlessly.\n- No bullet points, no numbered lists, no headers\n\nFormatting Rules:\n- Never use em dashes anywhere in the output. Use commas, periods, parentheses, or restructure the sentence instead.\n- No ellipses for dramatic effect\n- No hashtags unless specifically requested\n\nWhat to Avoid:\n- Do not summarize the full news story. Extract only the sharpest takeaway.\n- Do not use buzzwords without substance (e.g., revolutionary, game-changing)\n- Do not write in third person. Write as Ujjwal in first person.\n- Do not pad with filler sentences or repeat the same idea in different words\n- Do not use phrases that are commonly associated with AI-generated content (e.g., Lets dive in, Heres the thing, In todays rapidly evolving landscape, Its not just about X its about Y)\n- Do not open with a question as the hook. Lead with a statement.\n\nNews Content to Rewrite:\nTitle: {{ $json.Name }}\nContent: {{ $json.Content }}\nViral Score: {{ $json.Viral_Score }}\nHook Pattern: {{ $json.Hook_Pattern }}\nEmotional Triggers: {{ $json.Emotional_Triggers }}\nViral Elements: {{ $json.Viral_Elements }}\nScript Framework: {{ $json.Script_Framework }}\nEngagement Score: {{ $json.Engagement_Score }}\n\nReturn ONLY valid JSON (no markdown, no backticks, no explanation):\n{\"Script_Title\": \"LinkedIn - [Topic]\", \"Hook\": \"Sharp opening statement\", \"Main_Content\": \"2 paragraphs max 50-100 words\", \"CTA\": \"Perspective prediction or question\", \"Target_Platforms\": \"LinkedIn\", \"Tone\": \"Professional, strategic, insider perspective\", \"Hashtags\": \"\"}",
        "batching": {
          "batchSize": 1
        }
      },
      "id": "node-s2-gemini-prompt",
      "name": "Gemini Generate Social Scripts",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        864
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Context and Author Profile:\nUjjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\n\nTask:\nRewrite the following news content as an original thought leadership post for Ujjwal's social media channels (primarily Facebook).\n\nTone and Voice Guidelines:\n- Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n- Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape\n- Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer\n- Confident and opinionated, but grounded with reasoning or real-world parallels\n- Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n- Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n- The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\n\nStructure and Length (STRICT):\n- Maximum two short paragraphs. No exceptions. Each paragraph should be 2 to 4 sentences.\n- Total word count: 50 to 100 words. Treat this as a hard ceiling.\n- The opening sentence must be a strong, creative hook. Not generic, not clickbait. It should be a sharp, original observation or a surprising reframe that makes people stop scrolling. Think of the kind of opener that makes someone say I never thought of it that way.\n- Close with a perspective, prediction, or question that invites engagement\n- Distill the news down to the single most important insight and build the entire post around that one idea. Cut everything else ruthlessly.\n- No bullet points, no numbered lists, no headers\n\nFormatting Rules:\n- Never use em dashes anywhere in the output. Use commas, periods, parentheses, or restructure the sentence instead.\n- No ellipses for dramatic effect\n- No hashtags unless specifically requested\n\nWhat to Avoid:\n- Do not summarize the full news story. Extract only the sharpest takeaway.\n- Do not use buzzwords without substance (e.g., revolutionary, game-changing)\n- Do not write in third person. Write as Ujjwal in first person.\n- Do not pad with filler sentences or repeat the same idea in different words\n- Do not use phrases that are commonly associated with AI-generated content (e.g., Lets dive in, Heres the thing, In todays rapidly evolving landscape, Its not just about X its about Y)\n- Do not open with a question as the hook. Lead with a statement.\n\nNews Content to Rewrite:\nTitle: {{ $json.Name }}\nContent: {{ $json.Content }}\nViral Score: {{ $json.Viral_Score }}\nHook Pattern: {{ $json.Hook_Pattern }}\nEmotional Triggers: {{ $json.Emotional_Triggers }}\nViral Elements: {{ $json.Viral_Elements }}\nScript Framework: {{ $json.Script_Framework }}\nEngagement Score: {{ $json.Engagement_Score }}\n\nReturn ONLY valid JSON (no markdown, no backticks, no explanation):\n{\"Script_Title\": \"Facebook - [Topic]\", \"Hook\": \"Sharp opening statement\", \"Main_Content\": \"2 paragraphs max 50-100 words\", \"CTA\": \"Perspective prediction or question\", \"Target_Platforms\": \"Facebook\", \"Tone\": \"Accessible, direct, hands-on founder\", \"Hashtags\": \"\"}",
        "batching": {
          "batchSize": 1
        }
      },
      "id": "node-s2-gemini-prompt-facebook",
      "name": "Gemini Generate Script - Facebook",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        944
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-s2-gemini-model",
      "name": "Gemini Model (Stage 2)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        1024
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vbhLIH8I52VXHFtc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini outputs - Forcing exact 'Name' from Source\nconst geminiItems = $input.all();\nconsole.log('Received ' + geminiItems.length + ' items from Gemini');\n\nlet sourceRecords = [];\ntry {\n  // Grab the exact input items BEFORE Gemini ran\n  sourceRecords = $items(\"Filter Unprocessed Posts\");\n  console.log('Found ' + sourceRecords.length + ' source items');\n} catch(e) {\n  console.log('Could not find source items');\n}\n\nconst output = [];\n\nfor (let i = 0; i < geminiItems.length; i++) {\n  const item = geminiItems[i];\n  let rawJson = item.json || {};\n\n  if (rawJson.text && typeof rawJson.text === 'string') {\n    try {\n      rawJson = JSON.parse(rawJson.text);\n    } catch (e) {\n      const match = rawJson.text.match(/\\{[\\s\\S]*\\}/);\n      if (match) {\n        try { rawJson = JSON.parse(match[0]); } catch (e2) { continue; }\n      } else { continue; }\n    }\n  }\n\n  if (Array.isArray(rawJson)) rawJson = rawJson[0] || {};\n  const s = (val) => (val === undefined || val === null) ? '' : (typeof val === 'object' ? JSON.stringify(val) : String(val));\n\n  // ABSOLUTE FALLBACK ONLY: DO NOT TRUST GEMINI FOR IDs.\n  // Use n8n's built-in pairedItem property to track exactly which source item this came from\n  let exactName = '';\n  \n  if (sourceRecords.length > 0) {\n      try {\n          // In n8n parallel execution, each item has a pairedItem index back to the merge node\n          const sourceIndex = item.pairedItem?.item || 0;\n          \n          if (sourceRecords[sourceIndex]) {\n              exactName = sourceRecords[sourceIndex].json.Name || sourceRecords[sourceIndex].json.Post_ID || '';\n              console.log(`Mapped output ${i} -> Source ${sourceIndex} using n8n pairedItem with Name: ${exactName}`);\n          }\n      } catch(e) {\n          console.log(`Failed to map using pairedItem: ${e.message}`);\n      }\n      \n      // If pairedItem fails (e.g., node wasn't true merge), use math fallback but correctly\n      if (!exactName) {\n          // If there are 2 Gemini tools (LinkedIn + Facebook) running in parallel:\n          // Items 0, 1 -> Source 0\n          // Items 2, 3 -> Source 1\n          // BUT n8n doesn't guarantee array order from parallel branches! \n          // This is why math was failing. We *must* rely on pairedItem.\n          // Fallback to exactly 0 if only 1 source\n          if (sourceRecords.length === 1) {\n             exactName = sourceRecords[0].json.Name || '';\n          } else {\n             console.log(`\u26a0\ufe0f Warning: Multiple sources but no pairedItem. Data might mix.`);\n             // Rough guess if order is perfectly preserved:\n             const indexGuess = Math.floor(i / (geminiItems.length / sourceRecords.length));\n             exactName = sourceRecords[indexGuess]?.json?.Name || '';\n          }\n      }\n  }\n\n  // MUST BE AN ARRAY for Airtable Linked Record \"Primary Key\" matching\n  const linkedRecordId = exactName ? [exactName] : [];\n\n  output.push({\n    json: {\n      Name: s(rawJson.Script_Title || ''),\n      Source_Content_ID: linkedRecordId, \n      Script_Title: s(rawJson.Script_Title || ''),\n      Hook: s(rawJson.Hook || ''),\n      Main_Content: s(rawJson.Main_Content || ''),\n      CTA: s(rawJson.CTA || ''),\n      Visual_Cues: s(rawJson.Visual_Cues || ''),\n      Tone: s(rawJson.Tone || ''),\n      Hashtags: s(rawJson.Hashtags || ''),\n      Estimated_Duration: s(rawJson.Estimated_Duration || ''),\n      Target_Platforms: s(rawJson.Target_Platforms || ''),\n      Status: 'Draft',\n      Feedback: '',\n      Created_Date: new Date().toISOString(),\n      Video_Production_Queue: 'pending',\n      Video_RENDERS: ''\n    },\n    // Pass the pairedItem chain forward so downstream nodes can trace back too\n    pairedItem: { item: i }\n  });\n}\n\nconsole.log('Generated ' + output.length + ' scripts');\nreturn output.length > 0 ? output : [{ json: { _skip: true } }];\n"
      },
      "id": "node-s2-parse-scripts",
      "name": "Parse Gemini Scripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "// Remove failed/empty script records\nreturn $input.all().filter(item => {\n  return !item.json._skip && item.json.Script_Title;\n});"
      },
      "id": "node-s2-remove-empty",
      "name": "Remove Empty Scripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        784
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AT_TABLE_SCRIPT_LIB }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Source_Content_ID": "={{ $json.Source_Content_ID }}",
            "Script_Title": "={{ $json.Script_Title }}",
            "Hook": "={{ $json.Hook }}",
            "Main_Content": "={{ $json.Main_Content }}",
            "CTA ": "={{ $json.CTA }}",
            "Visual_Cues": "={{ $json.Visual_Cues }}",
            "Tone": "={{ $json.Tone }}",
            "Hashtags": "={{ $json.Hashtags }}",
            "Estimated_Duration": "={{ $json.Estimated_Duration }}",
            "Status": "Draft",
            "Feedback": "",
            "Created_Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Video Production Queue": "pending",
            "Video RENDERS": "",
            "Target_Platforms ": "={{ $json.Target_Platforms }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-s2-store-scripts",
      "name": "Store in Script Library",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1488,
        864
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-s3-trigger",
      "name": "Manual Trigger (Stage 3)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        1552
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "node-s3-schedule",
      "name": "Schedule Trigger (Every 30s)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        1696
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AT_TABLE_SCRIPT_LIB }}",
          "mode": "id"
        },
        "options": {
          "filterByFormula": "{Status} = 'Approved'",
          "maxRecords": 20
        }
      },
      "id": "node-s3-read-approved",
      "name": "Read Approved Scripts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        256,
        1616
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// We just pulled approved scripts.\nconst items = $input.all();\n\n// 1. SAFEST FALLBACK: If absolutely nothing was returned, stop cleanly.\nif (!items || items.length === 0) {\n  console.log('\u2139\ufe0f No scripts fetched. Stopping gracefully.');\n  return [{ json: { _skip: true } }];\n}\n\n// Ensure we only process actually Approved scripts\nconst approvedItems = items.filter(i => {\n    const status = i.json?.Status || '';\n    return status.trim() === 'Approved';\n});\n\n// 2. SAFEST FALLBACK: If there are items, but none of them are actually Approved, stop cleanly.\nif (approvedItems.length === 0) {\n    console.log('\u2139\ufe0f No correctly approved scripts to post right now. Stopping gracefully.');\n    return [{ json: { _skip: true } }];\n}\n\n// 3. IDENTIFY TARGET GROUP\n// Find the first valid Source ID among the approved scripts.\nlet targetSourceId = null;\nconst firstItemWithSource = approvedItems.find(i => {\n    let sourceId = i.json?.Source_Content_ID;\n    if (Array.isArray(sourceId) && sourceId.length > 0) return true;\n    if (typeof sourceId === 'string' && sourceId.trim() !== '') return true;\n    return false;\n});\n\n// Extract actual string ID\nif (firstItemWithSource) {\n    targetSourceId = Array.isArray(firstItemWithSource.json.Source_Content_ID) \n        ? firstItemWithSource.json.Source_Content_ID[0] \n        : firstItemWithSource.json.Source_Content_ID;\n} else {\n    // If NO script has a Source ID, just pull the internal ID of the first script to process it alone.\n    targetSourceId = approvedItems[0].json.id;\n}\n\nconsole.log(`\ud83d\udce6 Organizing posts around Source_Content_ID: ${targetSourceId}`);\n\n// 4. GROUPING LOGIC (Flexible Siblings)\n// Filter out ONLY the scripts that match our chosen Source ID.\n// If both FB and LI are approved for this source, this array will have length 2 (Siblings grouped!)\n// If only FB is approved for this source, this array will have length 1 (Proceeds alone!)\nconst groupScripts = approvedItems.filter(item => {\n    let itemSourceId = Array.isArray(item.json?.Source_Content_ID)\n        ? item.json?.Source_Content_ID[0]\n        : item.json?.Source_Content_ID;\n        \n    return itemSourceId === targetSourceId || (!itemSourceId && item.json.id === targetSourceId);\n});\n\nconsole.log(`\ud83d\udce4 Sending ${groupScripts.length} approved script(s) for this content idea.`);\n\n// 5. MAP FOR DOWNSTREAM\nreturn groupScripts.map((item, idx) => {\n  let platformData = item.json['Target_Platforms '] || item.json.Target_Platforms || [];\n  let platforms = [];\n  \n  if (Array.isArray(platformData)) {\n    platforms = platformData.map(p => typeof p === 'string' ? p : (p?.name || '')).filter(p => p);\n  } else if (typeof platformData === 'string') {\n    platforms = platformData.split(',').map(p => p.trim()).filter(p => p);\n  }\n  \n  // Smart fallback\n  const title = (item.json.Script_Title || '').toLowerCase();\n  if (platforms.length === 0) {\n     if (title.includes('facebook') || title.includes('fb')) platforms.push('Facebook');\n     if (title.includes('linkedin')) platforms.push('LinkedIn');\n  }\n\n  return {\n    json: {\n      ...item.json,\n      _index: idx,\n      _platforms: platforms,\n      _sourceId: Array.isArray(item.json?.Source_Content_ID) ? item.json.Source_Content_ID[0] : (item.json?.Source_Content_ID || '')\n    }\n  };\n});\n"
      },
      "id": "node-s3-filter-approved",
      "name": "Filter Approved Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split approved scripts by platform for parallel posting\nconst output = [];\nconst platformMap = {\n  'linkedin': 'linkedin',\n  'facebook': 'facebook',\n  'fb': 'facebook',\n  'reddit': 'reddit'\n};\n\nfor (const item of $input.all()) {\n  const platforms = item.json._platforms || [];\n  console.log(`\ud83d\udccb Processing: ${item.json.Script_Title} | Platforms: [${platforms.join(', ')}]`);\n  \n  if (!platforms.length) {\n    console.log(`\u26a0\ufe0f  No platforms found for ${item.json.Script_Title}, skipping`);\n    continue;\n  }\n  \n  for (const platform of platforms) {\n    const normalizedPlatform = platformMap[platform.toLowerCase()] || platform.toLowerCase();\n    \n    // IMPORTANT: IF Facebook expects \"_targetPlatform\" to be \"facebook\" EXACTLY\n    output.push({\n      json: {\n        ...item.json,\n        _targetPlatform: normalizedPlatform\n      }\n    });\n  }\n}\n\nconsole.log(`\ud83d\udce4 Routed ${output.length} specific platform payloads`);\nif (output.length === 0) {\n  return [{ json: { _skip: true } }];\n}\nreturn output;\n"
      },
      "id": "node-s3-route-platforms",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "// Debug: Check what's being passed to Switch\nconst items = $input.all();\nconsole.log(`\ud83d\udd00 SWITCH DEBUG: Received ${items.length} items`);\nitems.forEach((item, idx) => {\n  console.log(`  [${idx}] _targetPlatform = '${item.json._targetPlatform}' (type: ${typeof item.json._targetPlatform})`);\n});\nreturn items;"
      },
      "id": "node-s3-debug-switch",
      "name": "DEBUG: Before Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.Hook + \"\\n\\n\" + $json.Main_Content + \"\\n\\n\" + $json['CTA '] }}\n"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-s3-post-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1328,
        1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "dateTime": [],
          "number": [],
          "string": [
            {
              "value1": "={{ $json._targetPlatform }}",
              "value2": "linkedin"
            }
          ]
        }
      },
      "id": "node-s3-if-linkedin",
      "name": "IF LinkedIn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        912,
        1808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "dateTime": [],
          "number": [],
          "string": [
            {
              "value1": "={{ $json._targetPlatform }}",
              "value2": "facebook"
            }
          ]
        }
      },
      "id": "node-s3-if-facebook",
      "name": "IF Facebook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        912,
        1312
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.Hook }}\\n\\n{{ $json.Main_Content }}\\n\\n{{ $json['CTA '] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1536,
        2000
      ],
      "id": "04deb722-fb5d-410c-97a9-17bdc20d0703",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "EjVjU4yvzE7uSE2U",
          "name": "LinkedIn account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Generate Reddit URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Reddit URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reddit URLs": {
      "main": [
        [
          {
            "node": "Start Reddit Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Reddit Scraper": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Check Scraper Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scraper Status": {
      "main": [
        [
          {
            "node": "Is Scraper Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Scraper Finished?": {
      "main": [
        [
          {
            "node": "Fetch Scraper Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scraper Results": {
      "main": [
        [
          {
            "node": "Parse Reddit Posts (News Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit Posts (News Only)": {
      "main": [
        [
          {
            "node": "Remove Empty Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Empty Items": {
      "main": [
        [
          {
            "node": "Gemini Analyze News Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Analyze News Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analyze News Post": {
      "main": [
        [
          {
            "node": "Parse Gemini Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Results": {
      "main": [
        [
          {
            "node": "Filter Relevant News Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant News Only": {
      "main": [
        [
          {
            "node": "Store in Viral Content DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Viral Content DB": {
      "main": [
        []
      ]
    },
    "Manual Trigger (Stage 2)": {
      "main": [
        [
          {
            "node": "Read Viral Content DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Every 6h)": {
      "main": [
        [
          {
            "node": "Read Viral Content DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Viral Content DB": {
      "main": [
        [
          {
            "node": "Filter Unprocessed Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unprocessed Posts": {
      "main": [
        [
          {
            "node": "Gemini Generate Social Scripts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini Generate Script - Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Stage 2)": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Generate Social Scripts",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gemini Generate Script - Facebook",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Social Scripts": {
      "main": [
        [
          {
            "node": "Parse Gemini Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Script - Facebook": {
      "main": [
        [
          {
            "node": "Parse Gemini Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Scripts": {
      "main": [
        [
          {
            "node": "Remove Empty Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Empty Scripts": {
      "main": [
        [
          {
            "node": "Store in Script Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Script Library": {
      "main": [
        []
      ]
    },
    "Manual Trigger (Stage 3)": {
      "main": [
        [
          {
            "node": "Read Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Approved Scripts": {
      "main": [
        [
          {
            "node": "Filter Approved Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Approved Status": {
      "main": [
        [
          {
            "node": "Route by Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Platform": {
      "main": [
        [
          {
            "node": "DEBUG: Before Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEBUG: Before Switch": {
      "main": [
        [
          {
            "node": "IF LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF LinkedIn": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Facebook": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Every 30s)": {
      "main": [
        [
          {
            "node": "Read Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c12f3196-f951-4014-aa6b-3e9517a8210b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1757b09cdae31473f3f31f6dcf3811ad0ffc8ba919e2d551dba14df63ed44210"
  },
  "id": "0ZSLiDZcYmBRLfgI",
  "tags": []
}